fastapi
uvicorn[standard]
uvloop
pandas
pandas_ta
ccxt
websockets
numpy
pydantic-settings
scipy
numba
python-binance
sqlalchemy
sqlalchemy
yfinance
psutil
requests
jinja2
tenacity
python-jose[cryptography]
python-multipart
torch
xgboost
scikit-learn
web3
beautifulsoup4
